Beetle.JT808/Beetle.JT808.ClientApp/bin/
Beetle.JT808/Beetle.JT808.ClientApp/obj/
Beetle.JT808/Beetle.JT808.UnitTestProject1/bin/
Beetle.JT808/Beetle.JT808.UnitTestProject1/obj/
Beetle.JT808/Beetle.JT808/bin/
Beetle.JT808/Beetle.JT808/obj/
Beetle.JT808/Beetle.TJ808.BaseServer/bin/
Beetle.JT808/Beetle.TJ808.BaseServer/obj/
